


<div class="page-container">

    <!-- Display Current Information -->

    <h2> User Credentials </h2>   

    <div class="information-container">

        <div class="profile-info"><%= currentUser.firstName %></div>
        <div class="profile-info"><%= currentUser.lastName %></div>
        <div class="profile-info"><%= currentUser.jobTitle %></div>
        <div class="profile-info"><%= currentUser.emailAddress %></div>

    </div>

    <br>

    <!-- Display Information you need to add -->

    <form method="POST" action="/profile/add">

        <label></label>
        <input type="text" name="userName" />

        <br>

        <label></label>
        <input type="text" name="telephone" />

        <button type="submit"> Update User Information </button>

    </form>

</div>